@model HelloRaptors.Models.Raptors
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Raptors</title>
</head>
<body>
    
    <b>@Model.PlayerName</b>
    <br>
    Was signed by the Toronto Raptors on : @Model.ArrivalDate.ToLongDateString();

</body>
</html>
