
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Raptors</title>
</head>
<body>
    <span style="font-size: 20pt;">Hello <b>Raptors</b></span>

</body>
</html>
